In [1]:
import pandas as pd
import numpy as np
import yaml
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sys import path
from os.path import abspath
import os

path.insert(0, abspath('../src'))
import mylib.cleaning as clean

In [3]:
pd.options.display.max_columns = None

#### Load config

In [4]:
with open('../params.yaml') as file:
    config = yaml.safe_load(file)

#### Read raw data

In [5]:
data = pd.read_csv(config['data']['raw'])
data

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,1,4,3,4,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
129876,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,4,4,4,4,4,4,5,5,5,5,4,0,0.0,satisfied
129877,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,5,2,1,2,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
129878,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,3,4,4,4,4,3,2,5,4,5,4,0,0.0,satisfied
129879,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,5,4,2,2,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

#### Clean data

In [6]:
data = clean.clean_data(data)
data

,id,gender,customer_type,age,type_of_travel,class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,on_board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfied
0,70172,M,Loyal,13,Private,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,False
1,5047,M,Disloyal,25,Business,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,False
2,110028,F,Loyal,26,Business,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,True
3,24026,F,Loyal,25,Business,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,False
4,119299,M,Loyal,61,Business,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,78463,M,Disloyal,34,Business,Business,526,3,3,3,1,4,3,4,4,3,2,4,4,5,4,0,0.0,False
129876,71167,M,Loyal,23,Business,Business,646,4,4,4,4,4,4,4,4,4,5,5,5,5,4,0,0.0,True
129877,37675,F,Loyal,17,Private,Eco,828,2,5,1,5,2,1,2,2,4,3,4,5,4,2,0,0.0,False
129878,90086,M,Loyal,14,Business,Business,1127,3,3,3,3,4,4,4,4,3,2,5,4,5,4,0,0.0,True
129879,34799,F,Loyal,42,Private,Eco,264,2,5,2,5,4,2,2,1,1,2,1,1,1,1,0,0.0,False

#### Check cleaned data

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129487 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129487 non-null  int64
 1   gender                             129487 non-null  object
 2   customer_type                      129487 non-null  object
 3   age                                129487 non-null  int64
 4   type_of_travel                     129487 non-null  object
 5   class                              129487 non-null  object
 6   flight_distance                    129487 non-null  int64
 7   inflight_wifi_service              129487 non-null  int64
 8   departure_arrival_time_convenient  129487 non-null  int64
 9   ease_of_online_booking             129487 non-null  int64
 10  gate_location                      129487 non-null  int64
 11  food_and_drink                     129487 non-null  int64
 12  online_boarding                    129487 non-null  int64
 13  seat_comfort                       129487 non-null  int64
 14  inflight_entertainment             129487 non-null  int64
 15  on_board_service                   129487 non-null  int64
 16  leg_room_service                   129487 non-null  int64
 17  baggage_handling                   129487 non-null  int64
 18  checkin_service                    129487 non-null  int64
 19  inflight_service                   129487 non-null  int64
 20  cleanliness                        129487 non-null  int64
 21  departure_delay_in_minutes         129487 non-null  int64
 22  arrival_delay_in_minutes           129487 non-null  float64
 23  satisfied                          129487 non-null  bool
dtypes: bool(1), float64(1), int64(18), object(4)
memory usage: 23.8+ MB

#### Store cleaned dataset

In [8]:
data.to_csv(config['data']['clean'], index=False)